<main class="check-your-mail">
    <section class="check-your-mail__content">
      <h1 class="check-your-mail__title">{{ 'customer.recover_password_page.check_mail_title' | t }}</h1>
      <p class="check-your-mail__message">{{ 'customer.recover_password_page.check_mail_message' | t }}</p>
      <a href="/account/login" class="button check-your-mail__button">{{ 'customer.common.redirect_log_in_text_button' | t }}</a>
    </section>
</main>