<html>
    <head>
       {{ content_for_header }}
    </head>
    <body>
        {% section 'announcement-bar' %}
        {% section 'header' %}
        <main id="main" role="main">
       {{content_for_layout}}
        </main>
    </body>   
</html>