<section class="all-collections">
    
    <p>Shop By Category</p>
    <div class="carousel-wrapper">
    <button class="prev" onclick="scrollCarousel(-1)">‹</button>
    <div class="collection-container">
      <div class="collection-wrapper">

        {% for collection in collections %}
           <div class="collection-card">
             
            <img
            width="300"
            height="300"
            loading="lazy"
            src="{{ collection.featured_image | image_url }}">
            <h3>{{ collection.title | link_to: collection.url }}</h3>
           </div>
        {% endfor %}    
      </div>  
    </div>
    <button class="next" onclick="scrollCarousel(1)">›</button>
    </div>
</section>    

<style>
.all-collections{
  background: {{ section.settings.background }};
  color: {{ section.settings.text_color }};
  padding: 10px;
}

.all-collections p{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 4px;
  margin-left: 5px;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.collection-container{
  width: 90%;
  overflow-x: hidden;
}

.collection-wrapper{
  display: flex;
  transition: transform 0.3s ease-in-out;
  padding: 15px;
}

.collection-card{
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection-card h3 a{
  color: #9a712f;
  text-decoration: none;
}

.collection-card a:hover{
  text-decoration: underline;
}

.carousel-wrapper button {
  background-color: #9a712f;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel-wrapper .prev {
  left: 30px;
}

.carousel-wrapper .next {
  right: 30px;
}
</style>

<script>
function scrollCarousel(direction) {
  const container = document.querySelector('.collection-wrapper');
  const scrollAmount = 300; // Adjust based on how far you want to scroll per click

  container.scrollBy({
      left: scrollAmount * direction, // Scroll in the given direction
      behavior: 'smooth' // Smooth scrolling effect
  });
}
</script>

{% schema %}
{
  "name": "all-collections",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#07060b"
    },
    {
       "type": "color",
       "id": "text_color",
       "label": "Text",
       "default": "#9a712f"
    }
  ],
  "presets": [
    {
      "name": "all-collections"
    }
  ]
}
{% endschema %}