
{% if section.settings['show-announcement'] %}
  <section>
    <div class="announcement-bar">
        <div class="announcement-bar-right-section">

            <ul class="announcement-bar-inner-list">
                {% if section.blocks.size == 0 %}
                  {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                    <li>
                        <a href="/account">
                          <svg width="26px" height="26px" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Symbols" stroke="#9a712f" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Navigation/Desktop/Utility-Bar/Logged-Out" transform="translate(-1391.000000, -13.000000)" fill="#FFFFFF">
                                    <g id="Utility-Links" transform="translate(1118.000000, 8.000000)">
                                        <g id="Sign-In-Icon" transform="translate(271.000000, 0.000000)">
                                            <path d="M16,17.5 C18.4142733,17.5 20.3844891,19.4012365 20.495102,21.7881643 L20.5,22 L20.5,25 L19.5,25 L19.5,22 C19.5,20.1314366 18.0357224,18.6048736 16.1920352,18.5051789 L16,18.5 L7,18.5 C5.1314366,18.5 3.60487355,19.9642776 3.50517886,21.8079648 L3.5,22 L3.5,25 L2.5,25 L2.5,22 C2.5,19.5857267 4.40123652,17.6155109 6.7881643,17.504898 L7,17.5 L16,17.5 Z M11.5,5.5 C14.2614237,5.5 16.5,7.73857625 16.5,10.5 C16.5,13.2614237 14.2614237,15.5 11.5,15.5 C8.73857625,15.5 6.5,13.2614237 6.5,10.5 C6.5,7.73857625 8.73857625,5.5 11.5,5.5 Z M11.5,6.5 C9.290861,6.5 7.5,8.290861 7.5,10.5 C7.5,12.709139 9.290861,14.5 11.5,14.5 C13.709139,14.5 15.5,12.709139 15.5,10.5 C15.5,8.290861 13.709139,6.5 11.5,6.5 Z"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg> 
                        </a>
                    </li>    
                    
                    {% else %}
                     <li>
                        <a href= "/account/login">
                          <svg width="26px" height="26px" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Symbols" stroke="#9a712f" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Navigation/Desktop/Utility-Bar/Logged-Out" transform="translate(-1391.000000, -13.000000)" fill="#FFFFFF">
                                    <g id="Utility-Links" transform="translate(1118.000000, 8.000000)">
                                        <g id="Sign-In-Icon" transform="translate(271.000000, 0.000000)">
                                            <path d="M16,17.5 C18.4142733,17.5 20.3844891,19.4012365 20.495102,21.7881643 L20.5,22 L20.5,25 L19.5,25 L19.5,22 C19.5,20.1314366 18.0357224,18.6048736 16.1920352,18.5051789 L16,18.5 L7,18.5 C5.1314366,18.5 3.60487355,19.9642776 3.50517886,21.8079648 L3.5,22 L3.5,25 L2.5,25 L2.5,22 C2.5,19.5857267 4.40123652,17.6155109 6.7881643,17.504898 L7,17.5 L16,17.5 Z M11.5,5.5 C14.2614237,5.5 16.5,7.73857625 16.5,10.5 C16.5,13.2614237 14.2614237,15.5 11.5,15.5 C8.73857625,15.5 6.5,13.2614237 6.5,10.5 C6.5,7.73857625 8.73857625,5.5 11.5,5.5 Z M11.5,6.5 C9.290861,6.5 7.5,8.290861 7.5,10.5 C7.5,12.709139 9.290861,14.5 11.5,14.5 C13.709139,14.5 15.5,12.709139 15.5,10.5 C15.5,8.290861 13.709139,6.5 11.5,6.5 Z"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg> 
                        </a>
                      </li>         
                    {% endif %}    
                {% endif %} 

                    <li>
                      <a href="/cart">
                        <svg width="26px" height="26px" viewBox="0 0 26 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="B6-Account---Returns" stroke="#9a712f" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g id="Icons/Navigation/Cart/Empty" transform="translate(0.000000, -5.000000)" fill="#FFFFFF">
                                  <g id="Cart-Icon-empty" transform="translate(0.230000, 5.790000)">
                                      <path d="M7.93,16.07 C8.54303607,16.07 9.04,16.5669639 9.04,17.18 C9.04,17.7930361 8.54303607,18.29 7.93,18.29 C7.31696393,18.29 6.82,17.7930361 6.82,17.18 C6.82,16.5669639 7.31696393,16.07 7.93,16.07 Z M20.45,16.07 C21.0630361,16.07 21.56,16.5669639 21.56,17.18 C21.56,17.7930361 21.0630361,18.29 20.45,18.29 C19.8369639,18.29 19.34,17.7930361 19.34,17.18 C19.34,16.5669639 19.8369639,16.07 20.45,16.07 Z M4.54607316,-5.79980508e-13 L5.015,1.998 L24.3259336,1.88626579 L21.0076134,14.78 L6.99392684,14.78 L3.754,1 L-8.01136935e-13,1 L-8.01136935e-13,-5.79980508e-13 L4.54607316,-5.79980508e-13 Z M23.033,2.893 L5.25,2.995 L7.785,13.779 L20.232,13.779 L23.033,2.893 Z" id="Cart-Icon"></path>
                                  </g>
                              </g>
                          </g>
                      </svg> 
                      </a>
                    </li>     
                
                {% else %}
                
                {% for block in section.blocks %}
                    <li>
                        <a href= "{{ section.blocks.link }}">{{ section.blocks.text }}</a>
                     </li>   
                {% endfor %}    
                {% endif %}
            </ul>    
        </div>
    </div>
  </section>  
{% endif %}    

<style>
.announcement-bar{
  background: {{ section.settings.background }};
  color: {{ section.settings.text_color }};
  display: flex;
  justify-content: flex-end;
  position: sticky;
}    

.announcement-bar-inner-list{
  display: flex;
  gap: 15px;
  margin-right: 20px;
  margin-bottom: 3px;
}

.announcement-bar-inner-list li{
  list-style-type: none;
}

.announcement-bar-inner-list a{
  text-decoration: none;
  color: #9a712f;
}
</style>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show-announcement",
      "label": "Show Announcement",
      "default": true
    },
    {
       "type": "color",
       "id": "background",
       "label": "Background",
       "default": "#000000"
    },
    {
       "type": "color",
       "id": "text_color",
       "label": "Text",
       "default": "#9a712f"
    }
  ],
     "blocks": [
        {
            "name": "Links",
            "type": "links",
              "limit": 4,
              "settings": [
                {
                  "type": "text",
                  "id": "text",
                  "label": "Text",
                  "default": "link"
                },
                {
                   "type": "url",
                   "id": "link",
                   "label": "Link" 
                }
            ]
        }
     ],
     "presets": [
        {
           "name": "announcement-bar"
        }
     ]
}
{% endschema %}